:host {
    display: grid;
    place-items: center;
    color: rgb(236, 244, 255);
    h1 {
        font-size: 4rem;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    .error {
        display: grid;
        place-items: center;
    }
}